<!-- <div class="centereverything">	 -->
	<div id="home" data-type="background" data-speed="50">
	    <div id='lunchbutton'><%= link_to (image_tag("lunchbutton_small.png")), "#bottom", method: :get, :class => 'lunchbutton' %></div>

	    <section class='footer padding-y-8' id='contact'>
	    	<div id='footer_list'>
			    <div class='footer__icon'>
			      <a class='icon-email js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='0' href='mailto:william.zhao@yale.edu'>Email</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-facebook js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='200' href='https://www.facebook.com/herelivesamandapage'>Facebook</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-instagram js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='400' href='http://instagram.com/herelivesamanda'>Instagram</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-tumblr js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='600' href='http://herelivesamanda.tumblr.com'>Tumblr</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-dribbble js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='800' href='http://dribbble.com/herelivesamanda'>Dribbble</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-linkedin js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1000' href='http://www.linkedin.com/in/herelivesamanda'>LinkedIn</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-pinterest js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1200' href='http://pinterest.com/herelivesamanda/'>Pinterest</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-twitter js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1400' href='https://twitter.com/herelivesamanda'>Twitter</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-flickr js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1600' href='http://www.flickr.com/photos/79922218@N02/'>Flickr</a>
			    </div>
			</div>
		</section>
	</div>   
	     
	<div id="about" data-type="background" data-speed="50">
	    <article>Pick the time and place. We'll match you.</article>
	    <div id="form_partial_background">
	    	<div id="form_partial">
	    		<%= render :partial => 'schedules/form' %>
	    	</div>
		</div>

	    <div id='lunchmap'><%= image_tag "lunchmap.png", {width: "450", height: "600", usemap: "#lunchmap", :class => 'lunchmap'} %></div>

		<map id="imgmap20137267146" name="lunchmap"><area shape="poly" alt="Region1" title="Region1" coords="190,59,307,21,332,177,241,200,196,73" href="#bottom" target="bottom#" /><area shape="poly" alt="Region2" title="Region2" coords="241,203,334,181,341,231,342,268,356,268,381,353,380,394,236,394,237,354,288,353" href="#bottom" target="#bottom" /><area shape="poly" alt="Region3" title="Region3" coords="200,396,289,397,287,538,198,538,198,448,198,448" href="#bottom" target="#bottom" /><area shape="poly" alt="Region4" title="Region4" coords="115,454,171,450,196,450,196,540,238,539,237,589,147,589,146,505,115,507,115,507" href="#bottom" target="#bottom" /><area shape="poly" alt="Region5" title="Region5" coords="194,352,195,441,152,422,111,403,102,402,86,381,121,310,145,291" href="#bottom" target="#bottom" /><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>

	</div>
<!-- </div> -->
