	<div id="home" data-type="background" data-speed="50">
	    <div id='lunchbutton'><%= link_to (image_tag("lunchbutton_small.png")), new_schedule_path, method: :get, :class => 'lunchbutton' %></div>
	    <section class='footer padding-y-8' id='contact'>
	    	<div id='footer_list'>
			    <div class='footer__icon'>
			      <a class='icon-email js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='0' href='mailto:william.zhao@yale.edu'>Email</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-facebook js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='200' href='https://www.facebook.com/herelivesamandapage'>Facebook</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-instagram js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='400' href='http://instagram.com/herelivesamanda'>Instagram</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-tumblr js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='600' href='http://herelivesamanda.tumblr.com'>Tumblr</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-dribbble js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='800' href='http://dribbble.com/herelivesamanda'>Dribbble</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-linkedin js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1000' href='http://www.linkedin.com/in/herelivesamanda'>LinkedIn</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-pinterest js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1200' href='http://pinterest.com/herelivesamanda/'>Pinterest</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-twitter js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1400' href='https://twitter.com/herelivesamanda'>Twitter</a>
			    </div>
			    <div class='footer__icon'>
			      <a class='icon-flickr js-waypoint transparent' data-waypoint-addClass='fade-in' data-waypoint-delay='1600' href='http://www.flickr.com/photos/79922218@N02/'>Flickr</a>
			    </div>
			</div>
		</section>
	</div>   
	     
	<div id="about" data-type="background" data-speed="50">
	    <article>Pick the time and place. We'll match you.</article>

	    <div id='lunchmap'><%= image_tag "lunchmap.png", {width: "450", height: "600", usemap: "#lunchmap"} %></div>

		<map id="lunchmap" name="lunchmap"><area shape="poly" alt="" title="" coords="1269,399,2048,134,2221,1190,1604,1340,1602,1335" href="" target="" /><area shape="poly" alt="" title="" coords="1588,1352,2221,1198,2272,1532,2273,1777,2367,1777,2536,2358,2533,2632,1571,2632,1575,2358,1899,2355,1585,1354" href="" target="" /><area shape="poly" alt="" title="" coords="1309,2641,1929,2642,1913,3583,1304,3586,1304,3586" href="" target="" /><area shape="poly" alt="" title="" coords="762,3024,1143,2986,1302,2986,1301,3596,1573,3594,1571,3917,972,3917,966,3370,762,3379,762,3023" href="" target="" /><area shape="poly" alt="" title="" coords="965,1938,1306,2339,1299,2942,1199,2915,737,2688,712,2695,662,2673,570,2551,574,2506,796,2071,796,2071" href="" target="" /><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) --></map>

	</div>     