<h1>Update Your Basic Information</h1>

<%= render 'form_edit' %><br><br>

<%= link_to 'Delete Profile', @current_user, method: :delete, data: { confirm: 'Are you sure you want to delete your LunchtYme profile?' } %>

