/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#user_nav1 {
	width: auto;
	float: right;
	margin-top: 15px;
	margin-right: 50px;
}

#user_nav2 {
	width: auto;
	float: right;
	margin-top: 15px;
}


.header {
	width: auto;
	height: 45px;
	padding: 30px 30px 30px 30px;
	background-color: #002a5c;
	color: #fff;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

.lunchtyme {
	width: auto;
	float: left;
}

.profile-page {
	margin-left: 25%;
}
