/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


#user_nav1 {
	width: auto;
	float: right;
	margin-top: 21px;
	padding-bottom: 5px;
}

#user_nav1 a{
			border-bottom: 2px solid rgba(0, 0, 0, .0);
			text-decoration: none;
			/*text-transform:uppercase;*/
			color:#FFFFFF;
			}
			#user_nav1 A:link {color: #FFFFFF; text-decoration: none; font-size: 23px;} 
			#user_nav1 A:visited {color: #FFFFFF; text-decoration: none} 
			#user_nav1 A:active {color: #FFFFFF; text-decoration: none} 
			#user_nav1 A:hover {color: #006eba; text-decoration: none; border-bottom:2px solid rgba(255, 255, 255, 1);  -webkit-transition: border-bottom .2s ease-in-out;}

#user_nav2 {
	width: auto;
	float: right;
	margin-top: 39px;
	margin-right: 45px;
	margin-left: 40px;
}

.header {
	width: auto;
	height: 45px;
	padding: 30px 30px 30px 30px;
	background-color: #002a5c;
	color: #fff;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

.lunchtyme {
	width: auto;
	float: left;
}

.profile-page {
	margin-left: 25%;
}

